
* {
    box-sizing: border-box;
}

.topo {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}

.container {
    width: 375px;
    height: 500px;
    background-color: #E5E5E5;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
}

.container div {
    display: flex;
    align-items: center;
    height: auto;
    padding: 15px 0;
    margin-top: 5px;
}


.mensagem-status {
    padding: 5px;
    background-color: #AAAAAA;
    border-radius: 2px;    
}

.horario {
   color: #000000;
   opacity: 0.3;
   padding-left: 10px;
}


.mensagem-usuario {
    font-weight: bold;
    padding-left: 5px;
}

.mensagem-normais {
    background-color: #FFFFFF;
    border-radius: 2px;
    height: 20px;
    padding-left: 5px;
    display: flex;

}

.mensagem-reservada {
    background-color: #FFDEDE;
    border-radius: 2px;
    height: auto;
    padding-left: 5px;

}

.status-usuario {
    padding-left: 5px;
}

.rodape {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input, button {
    all: unset;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-style: italic;
  }
  